<html>
<head>
<title>Harry Potter and the cursed child</title>
</head>
<body style="Background-color:LavenderBlush">
<hr width ="100%" size="5px" color="deeppink" align="right">
<h1 align="right" style="font-family:Tahoma; color:White; background-color:deeppink";><b>Contents at a Glance</b></h1>
<hr size="2px" color="deeppink">
<p style="font-family:Tahoma"><span><b><font style="font-family:Tahoma; color:Grey";>Part I</font> Core markup</b></p>
<ol>
<li> Traditional HTML and XHTML..............................................<b>3</b></li>
<li> Introducing HTML5...............................................................<b>55</b></li>
<li> HTML and XHTML Element Reference .............................<b>133</b></li>
</ol>
<hr size="2px" color="deeppink">
<p style="font-family:Tahoma"><span><b><font style="font-family:Tahoma; color:Grey";>Part II</font> Core Style</b></p>
<ol>
<li> Introduction to CSS .............................................................<b>429</b></li>
<li> CSS Syntax and Property Reference ...................................<b>521</b></li>
<li> CSS3 Proprietary and Emerging Features References ........<b>613</b></li>
</ol>
<hr size="2px" color="deeppink">
<p style="font-family:Tahoma"><span><b><font style="font-family:Tahoma; color:Grey";>Part I</font> Appendixes</b></p>
<ol type="A">
<li> Character Entities .................................................................<b>727</b></li>
<li> Fonts .................................................................................... <b>751</b></li>
<li> Colors ...................................................................................<b>765</b></li>
<li> URLs ................................................................................... <b>783</b></li>
<li> Reading a Document Type Definition...................................<b>801</b></li>
</ol>

<p margin="3px"><b>Index</b>............................................................................<b>809</b><br>





